#profile-img-container {
  position: relative;
  overflow: hidden;
}

#profile-img-container .edit-text {
  width: 88%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid #2f5d62;
}

#profile-img-container .edit-text p {
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}

#profile-img-container .edit-text p:hover {
  text-decoration: underline;
}
