#sidebar-profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0.8rem;
  background-color: #3c3c3c;
  color: #fff;
  transform: translateX(-100%);
  z-index: 900;
  transition: transform 0.5s ease;
}

#sidebar-profile.hide {
  transform: translateX(-100%);
}
#sidebar-profile.show {
  transform: translateX(0%);
}

#sidebar-profile .sidebar-button {
  position: fixed;
  top: 5%;
  left: 100%;
  font-size: 1.2rem;
  background-color: #3c3c3c;
  padding: 0.5rem;
}

#sidebar-profile .sidebar-close {
  position: fixed;
  top: 1%;
  right: 7%;
  font-size: 1.3rem;
}
